@charset "utf-8";

@import url(main.css);
@import url(introduce.css);
@import url(business.css);





/* title */
h2{
    height: 50px; line-height: 50px;
    font-family: 'GmarketSans'; font-weight: 700; 
    font-size: 50px; color: #333;
}

/* innerWrap - 컨텐츠 최소사이즈를 홈페이지 가운데 오게 한 더 묶는 요소 */
.innerWrap {
    width: 1180px;
    margin: 0 auto; /* 블록요소를 부모영역에서 가로 가운데 오게 처리 */
}